.ant-layout {
  background-color: #fff;
}

.ant-layout-header {
  padding: 0;
  background-color: #f3f3f3;
  box-shadow: 1px 30px 2px #987575;
}

.ant-page-header-heading-sub-title {
  transform: translateY(12px);
}

.ant-page-header-heading-title span {
  vertical-align: bottom;
  margin-left: 6px;
}
